
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: gray;
}
.clock{
    position: relative;
    position:absolute;
    top: 50%;
    left: 50%;
    /* transition:translate(-50%,-50%) ; */
    width:200px ;
    height: 200px;
    border: 15px solid #ff5f5f ;
    border-radius: 50%;
    background:#fff ;
    box-shadow: -2px 2px 0 #e23232,inset 0 0 20px rgba((0,0,0,0.5));
}
.secound{
    content: "";
    position:absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 3px;
    background: black;
    border-radius: 3px;
    animation: secound 60s linear infinite;
    transform-origin: left;
}
.minute{
    content: "";
    position:absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    height: 4px;
    background: black;
    border-radius: 3px;
    animation: minute 3600s linear infinite;
    transform-origin: left;
}
.hours{
    content: "";
    position:absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 6px;
    background: rgb(185, 62, 62);
    border-radius: 3px;
    animation: hours 216000s linear infinite;
    transform-origin: left;
}
.twlev{
    position: absolute;
    top: 0;
}
@keyframes secound{
    0%{
      transform: rotate(0deg);  
    }
    100%{
        transform: rotate(360deg);  
      }
}
@keyframes minute{
    0%{
      transform: rotate(0deg);  
    }
    100%{
        transform: rotate(360deg);  
      }
}
@keyframes hours{
    0%{
      transform: rotate(0deg);  
    }
    100%{
        transform: rotate(360deg);  
      }
}