body{
    width: 50%;
    padding-top: 10%;
    margin:  auto;
}
.block{
    display: block;
}
.m-5{
    margin: 5%;
}
h2{
    border: 1px solid;
    margin: 5%;
    padding: 2%;
}
button{
    background-color: white; 
    margin-left:90%;
}